<section class="block">
  <div class="grid grid--1x2">
    <div class="hero-text1 fade-out">
      <h1>THEJAS SANJEEV</h1>
      <div class="hero-animation">
        <h3 class="hero-animetxt">FULL STACK DEVELOPER</h3>
        <img src="images/lightning.gif" alt="" />
      </div>
    </div>
    <div class="hero-text2">
      <h4>building</h4>
      <h1>BEAUTIFUL</h1>
      <div class="typing-container">
        <p id="sentence" class="sentence">></p>
        <p id="feature-text"></p>
        <p class="input-cursor"></p>
      </div>
      <a class="liq_btn" href="">Curriculum Vitae</a>
    </div>
    <img class="hero-image" src="images/sticker.png" alt="" />
  </div>
</section>
