<nav class="nav collapsible">
  <a href="/"><img class="nav-logo" src="images/logo.gif" alt="" /></a>
  <img class="nav__toggler" src="images/menu.svg" alt="" />
  <ul class="nav-list collapsible__content">
    <li class="list-item1"><a href="">ABOUT</a></li>
    <li class="list-item1"><a href="">CV</a></li>
    <li class="list-item1"><a href="">MY PROJECTS</a></li>
    <li class="list-item1"><a href="">ROADMAP</a></li>
  </ul>
  <ul class="nav-list collapsible__content">
    <li class="list-item2">
      <a href=""
        ><img class="nav-socials__insta" src="images/instalogo.png" alt=""
      /></a>
    </li>
    <li class="list-item2">
      <a href="">
        <img
          class="nav-socials__linkedin"
          src="images/linkedinlogo.png"
          alt=""
        />
      </a>
    </li>
    <li class="list-item2">
      <a href=""
        ><img class="nav-socials__git" src="images/gitlogo.png" alt=""
      /></a>
    </li>
  </ul>
</nav>
